* {
    margin: 0;
    font-family:'work sans'
}
.body{
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    
}

.nav-title-1{
    position: absolute;
    width: 494px;
height: 78px;
left: 876px;
top: 468px;

}
.btn-primary{
    position: absolute;
width: 160px;
height: 64px;
left: 1210px;
top: 578px;
color: #FFFFFF;
background: #F15B22;
}
.nav-title{
    position: absolute;
width: 525px;
height: 228px;
left: 845px;
top: 216px;

font-weight: 700;
font-size: 50px;

text-align: right;
}
.secton{
    background-color: antiquewhite;
}
.person{
    color: peru;
    position: absolute;
width: 569px;
height: 723.3px;
left: 206px;
top: 939px;


}
.simple{
    position: absolute;
width: 416px;
height: 393px;
left: 862px;
top: 1178px;
}

.previous{
    color: #151414;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 47px;

}
.lorem{
    color: #444343;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 26px;
}
.popular{
    color: #444343;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px
    
}
.plan{
    position: absolute;
width: 179px;
height: 47px;
left: 711px;
top: 1792.3px;
color: #151414;
}
.about-info{
    justify-content: space-around;
    position: absolute;
width: 1141px;
height: 299.96px;
left: 230px;
top: 1792.3px;
display: flex;
}
.info-title{
    color: #151414;
    font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: center;
margin-right: 5px;


}
.info-describe{
    color: #737272;
    font-weight: 500;
font-size: 25px;
line-height: 29px
  
}
.plan{
    color: #151414;
    ont-weight: 700;
font-size: 40px;
line-height: 47px;
    
     
}
.about-info{
    left: 300px;
top: 1880px;
}
.about-info-container{
    
}
/* .positive{
    background-image: url(../images/watch.png);
    position: absolute;
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2399.26px;
}
.mindset{
    font-weight: 700;
font-size: 40px;
line-height: 47px;


}
.btn-naw{
    
width: 160px;
height: 64px;
left: 294px;
top: 2399.26px;
} */

.fifth-section{

}
.fifth-div{
    position: absolute;
    background-image: url(../images/watch.png);
    margin-top: 130px;  
    width: 1140px;
    height: 300px;
    left: 290px;;
}
.fifth-header{
    position: absolute;
    text-align: left;
    margin-left: 64px;
    top: 60px;
}
.fifth-head{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    color: #FFFFFF;
}
.fifth-head{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    color: #FFFFFF;
}
.btn-mary{

}
.fifth-section{
    position: absolute;
    justify-content: space-around;
    width: 140px;
    height: 200px;
    left: 190px;
    top: 2222.26px;
    border-radius: 8px;
    
}
.foot{
    position: absolute;
width: 1600px;
height: 577px;
left: 0px;
top: 2652.26px;
background-color:#151414;
}
.future{
    color: #F8F8F8;
}
